<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Détail de la voiture</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../styles/car-details-style.css">
</head>
<body>
<div class="container">
  <a href="/cars" class="back-button">Retour à la liste</a>
  <!-- Car Basic Information Section -->
  <div class="section animated" id="basic-info">
    <div class="header">
      <div><i class="fas fa-car icon"></i> Informations de Base</div>
      <div class="button-container">
        <button class="button edit">Modifier</button>
        <button th:href="@{/cars/delete/{id}(id=${car.id})}" class="button delete">Supprimer</button>
      </div>
    </div>
    <ul class="list">
      <li class="list-item"><strong>Marque :</strong> <span th:text="${car.brand ?: 'N/A'}"></span></li>
      <li class="list-item"><strong>Modèle :</strong> <span th:text="${car.model ?: 'N/A'}"></span></li>
      <li class="list-item"><strong>Immatriculation :</strong> <span th:text="${car.immatriculation ?: 'N/A'}"></span></li>
      <li class="list-item"><strong>Couleur :</strong> <span th:text="${car.color ?: 'N/A'}"></span></li>
    </ul>
  </div>

  <!-- Car Important Dates Section -->
  <div class="section animated" id="important-dates">
    <div class="header"><i class="fas fa-calendar-alt icon"></i> Dates Importantes</div>
    <ul class="list">
      <li class="list-item"><strong>Date d'Achat :</strong> <span></span></li>
      <li class="list-item"><strong>Date de Contrôle Technique :</strong> <span></span></li>
      <li class="list-item"><strong>Date de Vidange :</strong> <span></span></li>
    </ul>
  </div>

  <!-- Car Services Section -->
  <div class="section animated" id="service-dates">
    <div class="header"><i class="fas fa-wrench icon"></i> Historique des Services</div>
    <ul class="list">
      <li class="list-item"><strong>Dernier Service Connu :</strong> <span></span></li>
    </ul>
  </div>
</div>

  <script src="../scripts/car-details.js"></script>

</body>
</html>
