<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Détail de la voiture</title>
  <link rel="stylesheet" href="../styles/car-details-style.css">
</head>
<body>
  <div class="container">
    <div class="car-image">
      <img th:src="@{/../images/} + ${car.color.name().toLowerCase()} + '.png'" style="width: 100%; max-width: 150px; height: auto; object-fit: contain;" alt="Voiture Vue de Dessus">
    </div>
    <div class="details">
      <h2>Marque: Tesla - Modèle: Model S</h2>
      <div class="info">
        <p><span>Date d'achat :</span> 01/03/2020</p>
        <p><span>Contrôle technique :</span> 15/09/2024</p>
        <p><span>Prochaine vidange :</span> 01/06/2024</p>
        <p><span>État :</span> En Service</p>
        <p><span>Couleur :</span> Rouge</p>
      </div>
      <div class="button-group">
        <button><i class="fas fa-edit"></i> Modifier</button>
        <button><i class="fas fa-trash"></i> Supprimer</button>
      </div>
    </div>
  </div>

  <script src="../scripts/car-details.js"></script>

</body>
</html>
