body {
    font-family: Arial, sans-serif;
    background-color: #e6e9ef;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.section:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.header {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #003366;
}

.header .icon {
    margin-right: 10px;
    color: #007BFF;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.list-item {
    margin: 5px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.button-container {
    display: flex;
    gap: 10px;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button.edit {
    background-color: #007BFF;
    color: white;
}

.button.edit:hover {
    background-color: #0056b3;
}

.button.delete {
    background-color: #ff4d4d;
    color: white;
}

.button.delete:hover {
    background-color: #cc0000;
}

.animated {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}